<div class="page-header">
    <h1>Table of Contents</h1>
</div>

<% $toc.each do |id, chapter| %>
    <h2>
        <a href="/chapter/<%= id %>">
            <%= chapter['sequence'].to_s %>. <%= chapter['heading'] %>
        </a>
    </h2>
    <h3><%= $chapters[id]['tags'].sort.join(". ") %>.</h3>
    <ul>
        <% chapter['subheadings'].each do |s| %>
            <li>
                <a href="/chapter/<%= id %>/<%= s['id'] %>"><%= s['subheading'] %></a>
            </li>
        <% end %>
    </ul>
<% end %>
